@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script>
    if(!localStorage.getItem('token')){
        window.location.href = '/login';
    }
</script>

<div class="text-center">
    <h1 class="display-4">Welcome to Cookyz Management Application</h1>
</div>

<script>
    
</script>